@model App.BLL.DTO.Loan?

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collateral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collateral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portfolio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portfolio.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        @* <dd class = "col-sm-10"> *@
        @*     @Html.DisplayFor(model => model.Region.Continent) *@
        @* </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
